# Environment variables — never commit
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
.venv/
env/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

#Ruff
.ruff_cache/
